.hero[data-v-d2759f96]{background-image:url(/savapex/assets/krane13-9lMyDpK2.jpg);background-repeat:no-repeat;display:flex;justify-content:center}@media (max-width: 768px){.hero button[data-v-d2759f96]{width:100%;padding:16px}}
