.hero[data-v-7a5d9796]{background-image:url(/savapex/assets/kran4-DiQ1umCA.jpg);background-repeat:no-repeat;display:flex;justify-content:center}@media (max-width: 768px){.hero button[data-v-7a5d9796]{width:100%;padding:16px}}
